.conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}