* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
}